<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog's</title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Font-Awesome  -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a
          style="font-size: 30px; font-weight: bold"
          class="navbar-brand"
          href="#"
          >Aqua<span style="color: #ff1a01">Soft</span></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/add-blogs"
                >Add</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login"
                >Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- input form -->
    <div class="container my-5" style="min-height: 70vh">
      <form
        class="row g-3 needs-validation"
        action="/add-blogs"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Blog Title</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom01"
            name="title"
            required
          />
        </div>

        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label"
            >Author Name</label
          >
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend"
              ><i class="fas fa-user"></i
            ></span>
            <input
              type="text"
              class="form-control"
              id="validationCustomUsername"
              name="author"
              aria-describedby="inputGroupPrepend"
              required
            />
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-8">
            <label for="validationCustom03" class="form-label"
              >Write Blog</label
            >
            <textarea
              class="form-control"
              name="blog"
              id="blog"
              cols="40"
              rows="3"
              required
            ></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">Category</label>
          <select
            class="form-select"
            id="validationCustom04"
            name="category"
            required
          >
            <option selected disabled value="">Choose...</option>
            <option>Web Development</option>
            <option>Software Development</option>
            <option>Mobile Development</option>
            <option>React Development</option>
            <option>Nodes Development</option>
            <option>Javascript Development</option>
          </select>
          <div class="invalid-feedback">Please select a valid state.</div>
        </div>
        <div class="col-md-5">
          <label for="image" class="form-label">Upload Image</label>
          <input type="file" name="image" id="image" class="form-control" />
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit Blog</button>
        </div>
      </form>
    </div>
    <hr />
    <!-- Footer section  -->
    <section>
      <div class="container my-5 py-5">
        <div class="row footer-section">
          <div class="col-md-3">
            <h1 class="mb-4">Aqua<span style="color: #ff1a01">Soft</span></h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
              ullam sunt excepturi porro earum impedit libero et cupiditate ex
              saepe.
            </p>
          </div>
          <div class="col-md-3">
            <h4 class="mb-4">Navigation</h4>
            <p><a href="#">Home</a></p>
            <p><a href="#">About</a></p>
            <p><a href="#">Advertisement</a></p>
            <p><a href="#">Contact</a></p>
          </div>
          <div class="col-md-3">
            <h4 class="mb-4">Social Media</h4>
            <p>
              <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
            </p>
            <p>
              <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
            </p>
            <p>
              <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
            </p>
            <p>
              <a href="#"><i class="fab fa-linkedin-in"></i>Linkedin</a>
            </p>
          </div>
          <div class="col-md-3">
            <h4 class="mb-4">Address</h4>
            <p>
              <a href="#"
                ><i class="fas fa-street-view"></i>Lorem, ipsum dolor.</a
              >
            </p>
            <p>
              <a href="#"><i class="fas fa-street-view"></i>Email@gmail.com</a>
            </p>
            <p>
              <a href="#"><i class="fas fa-phone"></i>+8812345674</a>
            </p>
            <p>
              <a href="#"><i class="fas fa-blender-phone"></i>+123456789</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
